<section class="container-fluid my-5">
<div class="card">
   <div class="card-body">
<header class="text-center mt-3 mb-5"><h2>Employee Time Off Balance</h2></header>
      <div class="row">
         <table>
            <thead>
               <tr>
                  <th>Employee ID</th>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Time Off Balance</th>
               </tr>
            </thead>
            <tbody>
               {{#if employees}}
               {{#each employees}}
               <tr>
                  <td>{{id}}</td>
                  <td>{{name}}</td>
                  <td>{{role.[0].title}}</td>
                  <td>{{leaves.leave_balance}}</td> 
               </tr>
                {{else}}
               <p>No employees to display</p>
               {{/each}}
               {{/if}}
            </tbody>
         </table>
      </div>
   </div>
</div>
</section>