<div class="employees list-group">
   </div><span>Employee Name: {{name}}</span></a>
<span>Employee ID: {{id}}</span>
<span>Employee Title: {{title}}</span>
<span>Employee Salary: {{role.[0].salary}}</span>
<span>Leave Balance: {{leave.[0].leave_balance}}</span>
<div class="employees list-group"></div>